<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
  <span th:replace="~{homePage::bootstrapAndCssImports}"></span>

</head>
<body class="p-3 mb-2 bg-black text-white">
<header>
  <span th:replace="~{homePage::header}"></span>
  <div class="text-success">
    <hr>
  </div>
  <a th:href="@{/}" class="mt-3 mb-3 d-flex justify-content-end text-uppercase fw-medium text-warning ">Homepage</a>

  <div class="text-success">
    <hr>
  </div>

</header>
<main>
  <table class="table table-striped" th:if="${!categories.isEmpty()}">
    <thead>
    <tr>
      <th class="p-3 mb-2 bg-dark text-white text-success">#</th>
      <th class="p-3 mb-2 bg-dark text-white text-success">Nom</th>
      <th class="p-3 mb-2 bg-dark text-white text-success">Description</th>
      <th class="p-3 mb-2 bg-dark text-white text-success"></th>
      <th class="p-3 mb-2 bg-dark text-white text-success"></th>
      <th class="p-3 mb-2 bg-dark text-white text-success"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${categories}">
      <td class="p-3 mb-2 bg-black text-white" th:text="${c.getId()}"></td>
      <td class="p-3 mb-2 bg-black text-white" th:text="${c.getName()}"></td>
      <td class="p-3 mb-2 bg-black text-white" th:text="${c.getDescription()}"></td>
      <td class="p-3 mb-2 bg-black text-white"><button type="button" class="btn btn-danger opacity-75"><a th:href="@{/category/update/{id}(id=${c.getId()})}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover link-offset-2 link-underline link-underline-opacity-0">Modifier</a></button></td>
      <td class="p-3 mb-2 bg-black text-white"><button type="button" class="btn btn-danger opacity-75"><a th:href="@{/category/delete/{id}(id=${c.getId()})}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover link-offset-2 link-underline link-underline-opacity-0">Supprimer</a></button></td>
    </tr>
    </tbody>
  </table>
  <span class="p-3 mb-2 bg-black text-white"><button type="button" class="btn btn-danger opacity-75"><a th:href="@{/category/add}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover link-offset-2 link-underline link-underline-opacity-0">Ajouter</a></button></span>


</main>

</body>
</html>