<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <span th:replace="~{homePage::bootstrapAndCssImports}"></span>

</head>
<body>
<header>
    <span th:replace="~{homePage::header}"></span>

</header>
<main>

    <table class="table table-striped" th:if="${!recipes.isEmpty()}">
        <thead>
        <tr>
<!--            <th>#</th>-->
            <th>Nom</th>
<!--            <th>Description</th>-->
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${recipes}">
<!--            <td th:text="${r.getId()}"></td>-->
            <td th:text="${r.getName()}"></td>
<!--            <td th:text="${r.getIngredients()}"></td>-->
<!--            <td th:text="${r.getInstructions()}"></td>-->
<!--            <td th:text="${r.getCategory()}"></td>-->
            <td><a >Détail</a></td>
            <td><a th:href="@{/recipe/add}">Ajouter</a></td>
            <td><a >Modifier</a></td>
            <td><a>Supprimer</a></td>
        </tr>
        </tbody>
    </table>
</main>

</body>
</html>